*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    font-family: 'Poppins', sans-serif;
}
.profil-container a i{
    font-size: 25px;
    margin: 0 10px;
}
body{
   background: rgb(245, 245, 236);
}
header.header{
    display: flex;
    justify-content: space-between;

}
.logo{
    background: rgb(233, 87, 87);
    text-align: center;
    white-space: nowrap;
    padding: 5px 10px;
    border-radius: 20px 0px;
    text-shadow: -4px 4px 4px  white;
}
nav.profil-container{
    height: 120px;
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    margin: 25px 35px;
    
    
}
nav.profil-container a{
   display: flex;
   align-items: center;
   color: black;
}
.alternativ{
    display: flex;
    justify-content: space-between;
    align-items: center;
    width: 300px;
    margin:10px 0;
}
.alternativ div{
    border: 1px solid black;
    padding: 5px 30px;
    border-radius: 10px 10px 0 0;
    display: flex;
    
}
.alternativ div i{
    margin: 5px 5px;
}
.alternativ div:hover{
    background: rgba(255, 0, 0, 0.596);
    color: white;
}

.vanster-container{
    margin: 5px 35px;
}
.nyheter{
    width: 350px;
    border: 1px solid black;
    box-shadow: inset 6px -4px 20px 0px grey;
    border-radius: 20px 0;
    position: relative;
}
.nyheter i{
    display: flex;
    justify-content: flex-end;
    position: absolute;
    right: 10px;
    bottom: 10px;
}
.wrapper{
    display: flex;
    justify-content: center;
}
.nyheter h2{
    text-align: center;
    border-bottom: 1px solid black;
    background: rgb(233, 87, 87);
    margin: 0;
    border-radius: 20px 0 0 0 ;
}
main{
    width: 100vw;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}
img{
    width: 250px;
    height: 130px;
    margin: 20px;
    box-shadow: 8px 5px 20px 2px  gray;
}
.hjarta{
    width: 20px;
    height: 20px;
    clip-path: polygon(50% 99%, 91% 38%, 92% 26%, 87% 16%, 77% 7%, 66% 9%, 58% 15%, 48% 24%, 40% 18%, 32% 11%, 23% 6%, 12% 13%, 10% 33%, 12% 46%);
    background: red;
}
.hjartan .hjarta1{
 background: rgb(77, 77, 77);
 width: 20px;
    height: 20px;
    clip-path: polygon(50% 99%, 91% 38%, 92% 26%, 87% 16%, 77% 7%, 66% 9%, 58% 15%, 48% 24%, 40% 18%, 32% 11%, 23% 6%, 12% 13%, 10% 33%, 12% 46%);
}
.hjartan{
    display: flex;
    position: relative;
    bottom: 20%;
    left: 8%;
}
.loverboy, .einar{
    text-align: center;
}
.namn{
    position:relative;
    bottom: 35px;
}